html{
    box-sizing: border-box;
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: #a2b29f;  
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #677466;
    text-align: center;
    padding-bottom: 20px;
}

.container {
    border: 5px solid #657063;
    border-radius: 25px;
    width: 380px;
    height: 580px;
    margin-top: 10px;
    background-color: #bdd2b6  ;
}

#screen {
    border-bottom: 3px solid #657063;
    height: 120px;
    width: 330px;
    padding: 25px;
    background-clip: content-box;
    background-color: #f8ede3;
}

#text{
    font-size: 36px;
    text-align:right;
    overflow-wrap: break-word;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #657063; 
}

.btns {
    display: flex;
    height: 440px;
    width: 380px;
    margin-top: 10px;
}

button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 24px;
    border: 2px solid rgb(92, 91, 91);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #798777;  
}
button:hover {
    background-color: #bdd2b6;
}

.rbtns {
    position: relative;
    left: 20px; 
    top: 5px;
}
.rbtns>* {
    margin-bottom: 5px;
    background-color: #ebbba4f1;
    color:rgb(92, 91, 91);
}

.lbtns {
    position: relative;
    left: 40px;
}

.nums {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.nums>*, .zerodot>* {
    color: #f8ede3;
}

.zero {
    width: 145px;
    border-radius: 15px;
}

.firstrow, .zerodot {
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.firstrow > * {
    background-color: #fdb0b073; 
    color:rgb(92, 91, 91);
}